<% style_tag "statuses/stylesheets/styles.css" %>
<section>
  <header>
    <h1>
      Job Status: <%= h @status["jid"] %>
      <span class='label-<%= h @status["label"] %>'>
        <%= h @status["status"] %>
      </span>
    </h1>
  </header>

  <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%= @status["pct_complete"].to_i %>" aria-valuemin="0" aria-valuemax="100" data-width="<%= @status["pct_complete"].to_i %>">
    <%= @status["pct_complete"].to_i %>%
  </div>
  </div>

  <div class="container">
    <h4><%= h @status["worker"] %></h4>

    <p><strong>Arguments:</strong> <%= @status["args"].empty? ? "<i>none</i>" : h(@status["args"]) %></p>

    <p><strong>Message:</strong> <%= h(@status["message"]) || "<i>none</i>" %></p>

    <p><strong>Last Updated:</strong>
      <% secs = Time.now.to_i - @status["update_time"].to_i %>
      <% if secs > 0 %>
        <%= ChronicDuration.output(secs, :weeks => true, :units => 2) %> ago
      <% else %>
        Now
      <% end %>
    </p>

    <p><strong>Elapsed Time:</strong>
      <% if @status["elapsed"] %>
        <%= ChronicDuration.output(@status["elapsed"].to_i, :weeks => true, :units => 2) %>
      <% end %>
    </p>

    <p><strong>ETA:</strong>
      <% if @status["eta"] %>
        <%= ChronicDuration.output(@status["eta"].to_i, :weeks => true, :units => 2) %>
      <% end %>
    </p>

    <% if @status["custom"].any? %>
      <hr>
      <% @status["custom"].each do |key, val| %>
        <p><strong><%= key %>:</strong>
          <% if val && val.include?("\n") %>
            <pre><%= h val %></pre>
          <% else  %>
            <%= h(val) || "<i>none</i>" %>
          <% end %>
        </p>
      <% end %>
    <% end %>
  </div>

  <a href="<%= root_path %>statuses">
    <small>&larr; back to all statuses</small>
  </a>
</section>
