<% style_tag "statuses/stylesheets/styles.css" %>
<%= script_tag "statuses/javascripts/scripts.js" %>
<section>
  <header>
    <h1>Recent job statuses</h1>
    <div class="filter">
      <form class="form-inline" method="get">
        <label>Filter Status:</label>
        <select class="form-control" id="sidekiq-status-select-status-name" name="status">
          <% (['all', 'complete', 'failed', 'interrupted', 'queued', 'retrying', 'stopped', 'working']).each do |status| %>
            <option data-url="?<%= qparams(status: status)%>" value="<%= status %>" <%= 'selected' if status == (safe_url_params("status") || 'all') %>><%= status %></option>
          <% end %>
        </select>

        <label>Per page:</label>
        <select class="form-control" id="sidekiq-status-select-per-page" name="per_page">
          <% (Sidekiq::Status::Web.per_page_opts + ['all']).each do |num| %>
            <option data-url="?<%= qparams(page: 1, per_page: num)%>" value="<%= num %>" <%= 'selected' if num.to_s == (safe_url_params("per_page") || @count) %>><%= num %></option>
          <% end %>
        </select>

        <input type="hidden" name="page" value="1">
      </form>
    </div>

    <%= erb :_paging, locals: { url: "#{root_path}statuses" } %>
  </header>

  <div class="table_container">
    <table>
      <thead>
        <tr>
          <% @headers.each do |hdr| %>
            <th class="<%= ['status', 'update_time', 'pct_complete', 'elapsed', 'eta'].include?(hdr[:id]) ? 'text-center-nowrap' : '' %>">
              <a href="<%= h hdr[:url] %>"><%= h hdr[:name] %></a>
            </th>
          <% end %>
          <th>
            Actions
          </th>
        </tr>
      </thead>
  <% @statuses.each do |container| %>
    <tr>
      <td>
        <div title='<%= h container["jid"] %>'><a href="<%= root_path %>statuses/<%= h container["jid"] %>"><%= h container["worker"] %></a></div>
      </td>
      <td>
        <div title='<%= h container["jid"] %>'>
          <code><div class="args"><%= h container["args"] %></div></code>
        </div>
      </td>
      <td class="text-center-nowrap">
        <div class='label label-<%= h container["label"] %>'><%= h container["status"] %></div>
      </td>
      <% secs = Time.now.to_i - container["update_time"].to_i %>
      <td class="text-center-nowrap" title="<%= Time.at(container["update_time"].to_i) %>">
        <% if secs > 0 %>
          <%= ChronicDuration.output(secs, :weeks => true, :units => 2) %> ago
        <% else %>
          Now
        <% end %>
      </td>
      <td class="text-center-nowrap">
        <div class="progress progress-striped progress-inline">
          <div class='message message-overlay'>
            <%= h container["message"] %>
          </div>
          <% if container["pct_complete"].to_i > 0 %>
            <div class="progress-bar message" data-width="<%= h container["pct_complete"] %>">
              <%= h container["pct_complete"] %>%
            </div>
          <% end %>
        </div>
      </td>
      <td class="text-center-nowrap">
        <% if container["elapsed"] %>
          <%= ChronicDuration.output(container["elapsed"].to_i, :weeks => true, :units => 2) %>
        <% end %>
      </td>
      <td class="text-center-nowrap">
        <% if container["eta"] %>
          <%= ChronicDuration.output(container["eta"].to_i, :weeks => true, :units => 2) %>
        <% end %>
      </td>
      <td>
        <form action="statuses" method="post">
            <input type="hidden" name="jid" value="<%= h container["jid"] %>" />
            <%= csrf_tag %>
            <% if container["status"] == "complete" %>
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" class="btn btn-danger" value="Remove" />
            <% elsif container["status"] == "failed" %>
              <input type="hidden" name="_method" value="put" />
              <input type="submit" class="btn btn-warn" value="Retry Now" />
            <% end %>
        </form>
      </td>
    </tr>
  <% end %>
  <% if @statuses.empty? %>
    <tr>
      <td colspan="6"></td>
    </tr>
  <% end %>
    </table>
  </div>
</section>
